@page {
  size: letter portrait;
}

.page {
  margin-left: auto;
  margin-right: auto;
  background: white;
  width: 8.5in;
  height: 11in;
}

body {
  background: rgb(15 23 42);
}

@media print {
  @page {
    margin: 0;
    size: letter portrait;
  }
}
